.sidebar{
  width:500px; 
  height:auto;
  margin:  10px 10px  20%;
  float:right;
  right: 20%;
  background-color: aliceblue;
  border-style:double;
  border-width:5px;
  border-color:gray;
  font-family: serif;
    
}
.contents{
  position: relative;
  margin: 10px;
  float: right;
  width:1000px;
  height:100%;
  background-color:aliceblue;
}


.main-pannel {
    
    height: 100%;
    width:auto;
    margin-right: 200px;
}





#infobase {
    
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 10px;
    bottom: 10px;
    height: 100%;
    border-style:groove;
    border-color:burlywood;
    border-width: 5px;
    font-size: 1em;
}

a {
    display: block;
    color: aliceblue;
    height: 42px;
    line-height: 42px;
    padding: 0 8px;
    text-decoration:none;
    font-size: 1em;
}
a:hover{
    color: blue;
}
