#sidebar{
  position: relative;
  width:20%; 
  height:98%;
  margin:  10px 10px 0px 10px;
  float:left;
  display:inline;
  background:white;
  border-style:double;
  border-width:5px;
  border-color:black;
}
#contents{
  position: absolute;
  width:70%;
  height:98%;
  margin:  10px 10px 0px 10px;
  display: inline;
  background: white;
  border-style: solid;
  border-width: 5px;  
}


#main-pannel {
    height: 100%;
    width: 100%;
}

#infobase {
    margin:10px;
    border-color: black;
    border-width: 5px;
    margin-left: 10%;
}
